
/////////////////////////////////
// L A Y O U T
/////////////////////////////////
*[class*="section-"] {
  position: relative;
  padding-top: 10vw;
  padding-bottom: 10vw;
  background-image:
    linear-gradient($dark 20%, rgba($dark, 0)),
    linear-gradient(rgba($dark, 0), $dark 90%),
    linear-gradient($dark-muted, $dark-muted);
  background-size:
    10px 10rem,
    10px 10rem,
    1px 100%;
  background-position:
    50% 0,
    50% 100%,
    50% 50%;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem;

  @include bpMedium {
    flex-direction: row;
    justify-content: space-between;
  }
}

*[class*="col-"] {
  @include bpMedium {
    // width: calc(50% - 2rem);
    width: 50%;
  }
}

.copy {
  margin-bottom: 6rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.copy-header {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $dark-muted;
}

.copy-header h6 {
  margin-bottom: 1rem;
  vertical-align: bottom;
}

.col-left .copy h3,
.col-left .copy h6,
.col-left .copy ul,
.col-left .copy p {
  padding-right: 2rem;
}

.col-right .copy h3,
.col-right .copy h6,
.col-right .copy ul,
.col-right .copy p {
  padding-left: 2rem;
}





/////////////////////////////////
// A B O U T
/////////////////////////////////
.built-assets ul li {
  display: inline-block;
  vertical-align: middle;
}

.built-assets ul li a {
  display: block;
  height: 3rem;
  margin-right: 1.8rem;
  @include hideText();
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  opacity: 0.4;
  filter: none;
  transition: opacity 0.25s;

  &:hover {
    opacity: 0.8;
    filter: none;
  }
}

.built-assets ul li:last-child a { margin-right: 0; }

.icon-nodejs { width: 4.2rem; }
.icon-raspberrypi { width: 2.3rem; }
.icon-midi { width: 2.7rem; }









/////////////////////////////////
// M E D I A
/////////////////////////////////
.section-media {
  position: relative;
  padding-top: 0;
  padding-bottom: 15vw;
  background-image:
    linear-gradient($dark 20%, rgba($dark, 0)),
    linear-gradient(rgba($dark, 0), rgba($dark, 0)),
    linear-gradient($dark-muted, $dark-muted);

  &:after {
    content: '';
    position: absolute;
    bottom: 3vw;
    left: calc(50% - 2px);
    height: 12vw;
    width: 3px;
    background-image: linear-gradient($dark, rgba($dark, 0));
    background-size: 100%;
  }
}

.media-list {
  display: flex;
  flex-direction: row;
}

.media-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../media/icon-video.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.35s, transform 0s 0.35s;
  }
}

.media-item .item-caption {
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  padding: 0.7rem;
  background-color: rgba($dark, 0.9);
  opacity: 1;
  transition: opacity 0.35s, background-color 0.35s;
}

.media-item .item-caption h5 {
  font-size: 1.2rem;
  color: $white;

  span {
    display: block;
    font-size: 1rem;
    color: $teal;
  }
}

.media-item:hover .item-caption {
  opacity: 0;
  background-color: rgba($dark, 1);
}

.media-item:hover:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.35s 0.25s, transform 0.35s 0.25s;
}


@supports ( -webkit-clip-path: none ) {

  .media-item .item-caption {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: all 0.5s 0.15s $easeInOutCubic;
  }

  .media-item:hover .item-caption {
    opacity: 1;
    clip-path: polygon(0% 0%, 10% 0%, 25% 100%, 0% 100%);
    transition: all 0.5s $easeInOutCubic;
  }

}



.media-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-stage {
  height: 0;
  height: 300px;
  background-color: $darker;
  box-shadow: inset 0 0 70px rgba(black, 0.7);
}






/////////////////////////////////
// D E M O
/////////////////////////////////
.section-demo {
  padding-top: 0;
  padding-bottom: 0;

  &:before {
    @include arrTop(2.5rem);
  }
}

.section-demo .content {
  display: block;
}

.section-demo header {
  padding-top: 10vw;
  background-color: $dark;
}

.section-demo header h2 {
  display: inline-block;
  padding: 1.1rem 1.4rem;
  background-color: $darker;
  // box-shadow: 0 0 20px rgba(black, 0.6);
}

.embed {
  width: 100%;
  text-align: center;

  .cp_embed_iframe {
    box-shadow: 0 0 30px 5px $darker;
  }

  figcaption {
    position: relative;
    margin-top: 10rem;
    padding-top: 6rem;
    padding-bottom: 8rem;
    background-color: $dark;

    &:before {
      @include arrTop(2.5rem);
    }
  }
}







/////////////////////////////////
// E V E N T S
/////////////////////////////////
.events-list {
  margin-bottom: 2.5rem;
}

.events-list li {
  position: relative;
  margin-top: 0.2rem;
  padding-left: 1rem;

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $white;
  }
}

.events-list.muted li:before {
  background-color: $dark-muted;
}
