// resets
// font basic styles
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // box-shadow: inset 0 0 0 1px red !important;
}

html,
body {
  width: 100%;
  background-color: $dark;
}

body {
  position: relative;
  @include MonoReg;
  font-size: 0.8rem;
  color: $white;
  @include font-smoothing(on);

  @include bpMedium {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include MonoBold;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

h6 {
  font-size: 0.8rem;

  @include bpMedium {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}



ul {
  list-style-type: none;
}

p {
  margin-bottom: 1rem;
}

a {
  position: relative;
  color: $white;
  text-decoration: none;
  animation: 0.5s linear 0s infinite normal both paused hueShift;
  transition: color 0.25s;

  &:hover {
    color: $red;
    animation-play-state: running;
  }
}

.muted {
  color: $dark-muted;
}

em {
  font-style: normal;
  color: $orange;
}
