// footer nav
.icon-twitter {
  background-image: url("../media/icon-twitter.svg");
  background-size: 2rem auto;
}
.icon-codepen {
  background-image: url("../media/icon-codepen.svg");
  background-size: 2rem auto;
}
.icon-github {
  background-image: url("../media/icon-github.svg");
  background-size: 4rem auto;
}
.icon-youtube {
  background-image: url("../media/icon-youtube.svg");
  background-size: 4rem auto;
}

// brands
.icon-nodejs {
  background-image: url("../media/icon-nodejs.svg");
}

.icon-raspberrypi {
  background-image: url("../media/icon-raspberrypi.svg");
}

.icon-midi {
  background-image: url("../media/icon-midi.svg");
}




// rainbow cta
.cta {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  @include MonoBold;
  filter: hue-rotate(0deg);
  animation: 0.5s linear 0s infinite normal both paused hueShift;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-image: linear-gradient(135deg,$purple, $red, $citron);
    border-image-slice: 1;
    transition: border-width 0.25s;
  }

  &:hover {
    color: $white;
    animation-play-state: running;

    &:before {
      border-width: 6px;
    }
  }
}

@keyframes hueShift {
  100% { filter: hue-rotate(360deg); }
}


.ghost {
  display: inline-block;
  margin-bottom: 1rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid $dark-muted;
  transition: border-bottom 0.25s;

  &:hover {
    color: $white;
    border-bottom: 1px solid $white;
  }

  &.muted:hover {
    color: $dark-muted;
  }
}
